<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首頁</title>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <!-- Jquery JavaScript 文件 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <!-- axios 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
    <div id="selectBtn">
        <select class="form-select" aria-label="Default select example">
            <option selected>選擇檔案</option>
            <option value="1">FUMCOM</option>
        </select>        
        <button type="button" class="btn btn-outline-dark" id="read">查詢</button>
        <button type="button" class="btn btn-outline-dark" id="selectAll">全選</button>
        <button type="button" class="btn btn-outline-dark" id="selectNo">全不選</button>
    </div>
    <div id="select-area">
        <!-- <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <div>
                <label class="form-check-label-e" for="flexCheckDefault">COM-PK</label>
                <label class="form-check-label-c" for="flexCheckDefault">主鍵</label>
            </div>
        </div>                      -->
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <!-- <th scope="col">First</th> -->
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                </tr> -->
            </tbody>
        </table>
    </div>

    <script src="/static/js/index.js"></script>
</body>
</html>